<!DOCTYPE html>
<html lang="en">

{{> header}}

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>

<body>

<ul><a href="/info">About me</a></ul>
<ul><a href ="/exchange">Exchange page</a></ul>

</body>

{{> footer}}

</html>

